In [1]:
import pandas as pd
import psycopg2 as pg

# Import SQL Alchemy
from sqlalchemy import create_engine
from sqlalchemy.orm import sessionmaker
# Import and establish Base for which classes will be constructed 
from sqlalchemy.ext.declarative import declarative_base
Base = declarative_base()

# Import modules to declare columns and column data types
from sqlalchemy import Column, Integer, String, Float, Date, ForeignKey

from sqlalchemy.orm import relationship, scoped_session, sessionmaker

In [22]:
# Study data files
departments = pd.read_csv('../data/departments.csv')
dept_emp = pd.read_csv('../data/dept_emp.csv')
dept_manager = pd.read_csv('../data/dept_manager.csv')
employees = pd.read_csv('../data/employees.csv')
salaries = pd.read_csv('../data/salaries.csv')
titles = pd.read_csv('../data/titles.csv')

In [23]:
employees.count()

emp_no          300024
emp_title_id    300024
birth_date      300024
first_name      300024
last_name       300024
sex             300024
hire_date       300024
dtype: int64

In [24]:
# Combine the data into a single dataset
employee_merge = pd.merge(employees,salaries, on = "emp_no", how = 'left')
employee_merge.head()

,emp_no,emp_title_id,birth_date,first_name,last_name,sex,hire_date,salary
0,473302,s0001,7/25/1953,Hideyuki,Zallocco,M,4/28/1990,40000
1,475053,e0002,11/18/1954,Byong,Delgrande,F,9/7/1991,53422
2,57444,e0002,1/30/1958,Berry,Babb,F,3/21/1992,48973
3,421786,s0001,9/28/1957,Xiong,Verhoeff,M,11/26/1987,40000
4,282238,e0003,10/28/1952,Abdelkader,Baumann,F,1/18/1991,40000

In [25]:
employee_merge.count()

emp_no          300024
emp_title_id    300024
birth_date      300024
first_name      300024
last_name       300024
sex             300024
hire_date       300024
salary          300024
dtype: int64

In [26]:
employee_dept = pd.merge(employee_merge,dept_emp, on = "emp_no", how = 'left')
employee_dept.head()

,emp_no,emp_title_id,birth_date,first_name,last_name,sex,hire_date,salary,dept_no
0,473302,s0001,7/25/1953,Hideyuki,Zallocco,M,4/28/1990,40000,d002
1,475053,e0002,11/18/1954,Byong,Delgrande,F,9/7/1991,53422,d004
2,57444,e0002,1/30/1958,Berry,Babb,F,3/21/1992,48973,d004
3,421786,s0001,9/28/1957,Xiong,Verhoeff,M,11/26/1987,40000,d003
4,282238,e0003,10/28/1952,Abdelkader,Baumann,F,1/18/1991,40000,d006

In [27]:
employee_dept.count()

emp_no          331603
emp_title_id    331603
birth_date      331603
first_name      331603
last_name       331603
sex             331603
hire_date       331603
salary          331603
dept_no         331603
dtype: int64

In [29]:
employee_departments = pd.merge(employee_dept,departments, on = 'dept_no', how = 'left')
employee_departments.head()

,emp_no,emp_title_id,birth_date,first_name,last_name,sex,hire_date,salary,dept_no,dept_name
0,473302,s0001,7/25/1953,Hideyuki,Zallocco,M,4/28/1990,40000,d002,Finance
1,475053,e0002,11/18/1954,Byong,Delgrande,F,9/7/1991,53422,d004,Production
2,57444,e0002,1/30/1958,Berry,Babb,F,3/21/1992,48973,d004,Production
3,421786,s0001,9/28/1957,Xiong,Verhoeff,M,11/26/1987,40000,d003,Human Resources
4,282238,e0003,10/28/1952,Abdelkader,Baumann,F,1/18/1991,40000,d006,Quality Management

In [30]:
employee_manager = pd.merge(employee_departments,dept_manager, on = 'emp_no', how = 'left')
employee_manager.head()

,emp_no,emp_title_id,birth_date,first_name,last_name,sex,hire_date,salary,dept_no_x,dept_name,dept_no_y
0,473302,s0001,7/25/1953,Hideyuki,Zallocco,M,4/28/1990,40000,d002,Finance,NaN
1,475053,e0002,11/18/1954,Byong,Delgrande,F,9/7/1991,53422,d004,Production,NaN
2,57444,e0002,1/30/1958,Berry,Babb,F,3/21/1992,48973,d004,Production,NaN
3,421786,s0001,9/28/1957,Xiong,Verhoeff,M,11/26/1987,40000,d003,Human Resources,NaN
4,282238,e0003,10/28/1952,Abdelkader,Baumann,F,1/18/1991,40000,d006,Quality Management,NaN

In [31]:
employee_df = employee_manager.rename(columns={'emp_title_id':'title_id', 'dept_no_x': 'dept_no'})
employee_df = employee_df.drop(columns = ['dept_no_y'])
employee_df.head()

,emp_no,title_id,birth_date,first_name,last_name,sex,hire_date,salary,dept_no,dept_name
0,473302,s0001,7/25/1953,Hideyuki,Zallocco,M,4/28/1990,40000,d002,Finance
1,475053,e0002,11/18/1954,Byong,Delgrande,F,9/7/1991,53422,d004,Production
2,57444,e0002,1/30/1958,Berry,Babb,F,3/21/1992,48973,d004,Production
3,421786,s0001,9/28/1957,Xiong,Verhoeff,M,11/26/1987,40000,d003,Human Resources
4,282238,e0003,10/28/1952,Abdelkader,Baumann,F,1/18/1991,40000,d006,Quality Management

In [19]:
from sqlalchemy import create_engine
engine = create_engine('sqlite://', echo=False)

In [20]:
employee_df.to_sql('employees', con=engine)
engine.execute("SELECT * FROM employees").fetchall()

[(0, 473302, 's0001', '7/25/1953', 'Hideyuki', 'Zallocco', 'M', '4/28/1990', 40000, 'd002', 'Finance'),
 (1, 461591, 's0002', '11/17/1964', 'Xudong', 'Samarati', 'M', '11/13/1985', 40000, 'd002', 'Finance'),
 (2, 48085, 's0001', '1/19/1964', 'Venkatesan', 'Gilg', 'M', '6/28/1993', 63016, 'd002', 'Finance'),
 (3, 424270, 's0001', '1/15/1963', 'Kellyn', 'Yoshizawa', 'F', '5/8/1995', 60678, 'd002', 'Finance'),
 (4, 424270, 's0001', '1/15/1963', 'Kellyn', 'Yoshizawa', 'F', '5/8/1995', 60678, 'd007', 'Sales'),
 (5, 37473, 's0001', '3/6/1952', 'Prasadram', 'Valette', 'M', '2/16/1994', 55963, 'd002', 'Finance'),
 (6, 293744, 's0001', '4/29/1952', 'Kolar', 'Carrere', 'M', '6/30/1987', 40000, 'd002', 'Finance'),
 (7, 293744, 's0001', '4/29/1952', 'Kolar', 'Carrere', 'M', '6/30/1987', 40000, 'd003', 'Human Resources'),
 (8, 92149, 's0001', '3/19/1957', 'Serenella', 'Kamber', 'F', '9/14/1988', 69585, 'd002', 'Finance'),
 (9, 14097, 's0001', '3/18/1963', 'Khalil', 'Gniady', 'M', '12/4/1990', 70604, 'd002', 'Finance'),
 (10, 213813, 's0001', '7/11/1955', 'Tsuneo', 'Matzat', 'M', '1/7/1989', 51196, 'd002', 'Finance'),
 (11, 457800, 's0001', '9/20/1963', 'Stabislas', 'Domenig', 'M', '8/4/1986', 64014, 'd002', 'Finance'),
 (12, 457800, 's0001', '9/20/1963', 'Stabislas', 'Domenig', 'M', '8/4/1986', 64014, 'd007', 'Sales'),
 (13, 218042, 's0001', '1/11/1960', 'Dharmaraja', 'Berstel', 'M', '8/8/1995', 74213, 'd002', 'Finance'),
 (14, 207996, 's0001', '5/9/1956', 'Tianruo', 'Milicic', 'F', '5/29/1991', 63332, 'd002', 'Finance'),
 (15, 16854, 's0001', '8/5/1957', 'Vasilis', 'Lindqvist', 'F', '7/27/1995', 68896, 'd002', 'Finance'),
 (16, 43646, 's0001', '3/17/1960', 'Xiaoshan', 'Lorcy', 'M', '3/5/1987', 70867, 'd002', 'Finance'),
 (17, 484774, 's0001', '11/11/1953', 'Brigham', 'Cherinka', 'M', '5/1/1992', 52782, 'd002', 'Finance'),
 (18, 480539, 's0001', '6/26/1959', 'Boriana', 'Roisin', 'M', '3/26/1985', 61560, 'd002', 'Finance'),
 (19, 423290, 's0001', '3/4/1964', 'Geoff', 'Underwood', 'F', '2/10/1995', 41614, 'd002', 'Finance'),
 (20, 459789, 's0001', '8/20/1962', 'Paddy', 'Candan', 'M', '6/8/1990', 59884, 'd002', 'Finance'),
 (21, 230316, 's0001', '7/22/1954', 'Magdalena', 'Billingsley', 'M', '1/22/1989', 49341, 'd002', 'Finance'),
 (22, 271092, 's0001', '7/7/1954', 'Subbu', 'Hennings', 'M', '3/10/1990', 58271, 'd002', 'Finance'),
 (23, 482398, 's0001', '7/28/1962', 'Lillian', 'DuBourdieux', 'F', '7/11/1991', 65658, 'd002', 'Finance'),
 (24, 30512, 's0001', '5/23/1959', 'Danel', 'Bellmore', 'F', '2/8/1985', 53916, 'd002', 'Finance'),
 (25, 245089, 's0001', '6/7/1960', 'Peer', 'Melski', 'M', '4/19/1992', 41921, 'd002', 'Finance'),
 (26, 204079, 's0001', '1/16/1964', 'Shigenori', 'Stentiford', 'M', '10/31/1985', 67472, 'd002', 'Finance'),
 (27, 204079, 's0001', '1/16/1964', 'Shigenori', 'Stentiford', 'M', '10/31/1985', 67472, 'd003', 'Human Resources'),
 (28, 221980, 's0002', '11/19/1952', 'Yoshinari', 'Eugenio', 'M', '8/8/1998', 78185, 'd002', 'Finance'),
 (29, 65532, 's0001', '9/17/1952', 'Joydip', 'Miara', 'F', '8/31/1995', 45800, 'd002', 'Finance'),
 (30, 65532, 's0001', '9/17/1952', 'Joydip', 'Miara', 'F', '8/31/1995', 45800, 'd003', 'Human Resources'),
 (31, 292417, 's0001', '6/1/1964', 'Remko', 'Erez', 'M', '8/11/1996', 46802, 'd002', 'Finance'),
 (32, 441813, 's0002', '2/26/1962', 'Nectarios', 'Basagni', 'F', '3/15/1985', 72859, 'd002', 'Finance'),
 (33, 73401, 's0002', '9/9/1959', 'Tesuya', 'Zirintsis', 'M', '5/14/1987', 60981, 'd002', 'Finance'),
 (34, 439571, 's0001', '8/17/1964', 'Munir', 'Bazelow', 'M', '4/14/1994', 52539, 'd002', 'Finance'),
 (35, 226582, 's0001', '1/8/1954', 'Reinhard', 'Serre', 'M', '7/14/1986', 86736, 'd002', 'Finance'),
 (36, 109409, 's0001', '12/29/1956', 'Xumin', 'Coorg', 'M', '10/8/1987', 61414, 'd002', 'Finance'),
 (37, 68169, 's0001', '10/12/1952', 'Tomokazu', 'Eickenmeyer', 'M', '4/8/1993', 58403, 'd002', 'Finance'),
 (38, 230458, 's0001', '7/18/1952', 'Peer', 'Laventhal', 'F', '10/4/1989', 64408, 'd002', 'Finance'),
 (39, 278801, 's0001', '7/6/1961', 'Adib', 'Bultermann', 'F', '8/17/1995', 50491, 'd002', 'Finance'),
 (40, 278801, 's0001', '7/6/1961', 'Adib', 'Bultermann', 'F', '8/17/1995', 50491, 'd003', 'Human Resources'),
 (41, 99880, 's0001', '7/31/1955', 'Herbert', 'Conti', 'F', '8/20/1987', 50558, 'd002', 'Finance'),
 (42, 59699, 's0002', '1/28/1953', 'Mahmut', 'Benveniste', 'F', '8/14/1991', 40542, 'd002', 'Finance'),
 (43, 59699, 's0002', '1/28/1953', 'Mahmut', 'Benveniste', 'F', '8/14/1991', 40542, 'd003', 'Human Resources'),
 (44, 448922, 's0001', '8/17/1956', 'Yuichiro', 'Zschoche', 'M', '3/5/1989', 40000, 'd002', 'Finance'),
 (45, 28336, 's0001', '6/23/1959', 'Florian', 'Ozery', 'F', '12/27/1988', 67870, 'd002', 'Finance'),
 (46, 95609, 's0002', '3/14/1956', 'Mokhtar', 'Chiodo', 'F', '4/6/1986', 55793, 'd002', 'Finance'),
 (47, 292505, 's0001', '11/15/1963', 'Maik', 'Gyimothy', 'M', '2/14/1990', 76269, 'd002', 'Finance'),
 (48, 86261, 's0001', '4/2/1957', 'Cristinel', 'Thibadeau', 'M', '2/28/1992', 41449, 'd002', 'Finance'),
 (49, 453063, 's0001', '6/28/1956', 'Nidapan', 'Yurov', 'M', '7/10/1990', 60317, 'd002', 'Finance'),
 (50, 404630, 's0001', '12/3/1963', 'Marsal', 'Talmor', 'M', '3/4/1998', 45429, 'd002', 'Finance'),
 (51, 64494, 's0001', '9/23/1963', 'Dipankar', 'Riesenhuber', 'F', '11/25/1986', 40000, 'd002', 'Finance'),
 (52, 104078, 's0001', '11/10/1962', 'Ayonca', 'Morrow', 'M', '5/12/1988', 67232, 'd002', 'Finance'),
 (53, 466882, 's0001', '6/29/1955', 'Aruna', 'Kilgour', 'M', '11/15/1994', 61188, 'd002', 'Finance'),
 (54, 466882, 's0001', '6/29/1955', 'Aruna', 'Kilgour', 'M', '11/15/1994', 61188, 'd003', 'Human Resources'),
 (55, 412168, 's0001', '5/1/1961', 'Yuuichi', 'Peek', 'F', '9/4/1989', 84826, 'd002', 'Finance'),
 (56, 491988, 's0001', '9/3/1953', 'Perla', 'Magliocco', 'M', '5/21/1993', 47303, 'd002', 'Finance'),
 (57, 491988, 's0001', '9/3/1953', 'Perla', 'Magliocco', 'M', '5/21/1993', 47303, 'd007', 'Sales'),
 (58, 31605, 's0001', '11/10/1963', 'Kwok', 'Valiente', 'F', '12/30/1986', 64310, 'd002', 'Finance'),
 (59, 31605, 's0001', '11/10/1963', 'Kwok', 'Valiente', 'F', '12/30/1986', 64310, 'd003', 'Human Resources'),
 (60, 201176, 's0001', '9/27/1952', 'Masami', 'Auyong', 'F', '2/24/1988', 63162, 'd002', 'Finance'),
 (61, 433928, 's0001', '4/21/1955', 'Shiv', 'Szmurlo', 'M', '10/5/1985', 58080, 'd002', 'Finance'),
 (62, 492118, 's0001', '6/9/1954', 'Maha', 'Murthy', 'M', '8/28/1988', 67461, 'd002', 'Finance'),
 (63, 35948, 's0001', '4/16/1960', 'Serge', 'Sifakis', 'F', '6/7/1986', 61947, 'd002', 'Finance'),
 (64, 450292, 's0001', '6/15/1964', 'Miyeon', 'Stifter', 'M', '1/30/1987', 71787, 'd002', 'Finance'),
 (65, 481279, 's0001', '9/29/1954', 'Jacqueline', 'Ranum', 'F', '1/27/1990', 64197, 'd002', 'Finance'),
 (66, 465852, 's0001', '1/12/1954', 'Gonzalo', 'Hanratty', 'M', '7/10/1996', 40000, 'd002', 'Finance'),
 (67, 465852, 's0001', '1/12/1954', 'Gonzalo', 'Hanratty', 'M', '7/10/1996', 40000, 'd003', 'Human Resources'),
 (68, 277073, 's0001', '7/4/1959', 'Demin', 'Rajaraman', 'M', '1/31/1992', 60894, 'd002', 'Finance'),
 (69, 453885, 's0001', '2/20/1964', 'Tran', 'Gammage', 'M', '4/21/1992', 40000, 'd002', 'Finance'),
 (70, 219043, 's0001', '8/5/1958', 'Hairong', 'Bondorf', 'M', '3/11/1985', 58418, 'd002', 'Finance'),
 (71, 299515, 's0001', '5/30/1953', 'Reinhold', 'Hutter', 'F', '12/1/1988', 58078, 'd002', 'Finance'),
 (72, 258420, 's0002', '8/1/1962', 'Arne', 'Geffroy', 'M', '9/7/1986', 68896, 'd002', 'Finance'),
 (73, 268674, 's0001', '7/11/1963', 'Keung', 'Zambonelli', 'F', '4/19/1994', 67000, 'd002', 'Finance'),
 (74, 250065, 's0002', '12/22/1955', 'Fumiko', 'Azadmanesh', 'M', '4/11/1998', 65644, 'd002', 'Finance'),
 (75, 200833, 's0002', '7/31/1956', 'Ottavia', 'Perl', 'M', '7/1/1986', 50469, 'd002', 'Finance'),
 (76, 207955, 's0001', '12/25/1952', 'Geoffry', 'Pillow', 'F', '4/29/1993', 83138, 'd002', 'Finance'),
 (77, 473504, 's0001', '2/15/1956', 'Taegyun', 'Peron', 'M', '4/19/1998', 46387, 'd002', 'Finance'),
 (78, 438111, 's0001', '5/7/1960', 'Shigehito', 'Frolund', 'M', '5/24/1992', 54821, 'd002', 'Finance'),
 (79, 438111, 's0001', '5/7/1960', 'Shigehito', 'Frolund', 'M', '5/24/1992', 54821, 'd007', 'Sales'),
 (80, 438267, 's0001', '5/7/1955', 'Malu', 'Sichman', 'M', '3/6/1988', 44058, 'd002', 'Finance'),
 (81, 45493, 's0001', '6/26/1954', 'Oscar', 'Itzigehl', 'F', '11/8/1989', 73207, 'd002', 'Finance'),
 (82, 447561, 's0001', '8/15/1963', 'Constantine', 'Hedayat', 'F', '12/2/1986', 71063, 'd002', 'Finance'),
 (83, 442055, 's0001', '12/2/1957', 'Sadun', 'Benaini', 'M', '8/16/1990', 53443, 'd002', 'Finance'),
 (84, 464322, 's0001', '5/26/1952', 'Sandeepan', 'Sessa', 'M', '6/22/1986', 53403, 'd002', 'Finance'),
 (85, 428675, 's0002', '4/6/1952', 'Mountaz', 'Erol', 'M', '9/15/1985', 52836, 'd002', 'Finance'),
 (86, 446376, 's0001', '6/21/1952', 'Duangkaew', 'DeMori', 'F', '6/12/1985', 47218, 'd002', 'Finance'),
 (87, 98744, 's0001', '4/9/1957', 'Geraldo', 'Iisaku', 'M', '5/9/1994', 55223, 'd002', 'Finance'),
 (88, 444692, 's0001', '11/3/1960', 'Sham', 'Heuter', 'M', '3/13/1993', 78397, 'd002', 'Finance'),
 (89, 56217, 's0001', '12/3/1955', 'Gao', 'Zizka', 'M', '10/24/1986', 59376, 'd002', 'Finance'),
 (90, 21992, 's0001', '4/1/1960', 'Yurii', 'Tetzlaff', 'M', '12/26/1986', 52037, 'd002', 'Finance'),
 (91, 25470, 's0001', '11/1/1954', 'Tze', 'Sifakis', 'M', '5/16/1994', 58403, 'd002', 'Finance'),
 (92, 85712, 's0001', '11/29/1956', 'Fumitake', 'Conte', 'M', '6/25/1992', 63476, 'd002', 'Finance'),
 (93, 464370, 's0001', '9/7/1962', 'Pranas', 'Yetim', 'F', '8/13/1993', 49443, 'd002', 'Finance'),
 (94, 270413, 's0001', '10/29/1961', 'Rafael', 'Kirkerud', 'M', '3/13/1985', 70134, 'd002', 'Finance'),
 (95, 261192, 's0001', '11/8/1955', 'Susanta', 'Schneeberger', 'M', '4/4/1988', 40000, 'd002', 'Finance'),
 (96, 431908, 's0001', '8/23/1961', 'Yucai', 'Vuskovic', 'F', '2/13/1990', 49102, 'd002', 'Finance'),
 (97, 95486, 's0001', '4/14/1960', 'Nikolaos', 'Linares', 'M', '3/12/1993', 44880, 'd002', 'Finance'),
 (98, 299803, 's0002', '5/9/1964', 'Torsten', 'Biran', 'F', '5/22/1987', 64261, 'd002', 'Finance'),
 (99, 490030, 's0001', '10/25/1954', 'Nidapan', 'Millington', 'M', '1/30/1993', 40000, 'd002', 'Finance'),
 (100, 414288, 's0001', '1/16/1954', 'Gou', 'Sabnani', 'F', '11/22/1989', 43079, 'd002', 'Finance'),
 (101, 475535, 's0001', '5/16/1953', 'Jianhui', 'Chelton', 'M', '3/31/1989', 54660, 'd002', 'Finance'),
 (102, 239652, 's0001', '11/20/1957', 'Arch', 'Duclos', 'M', '2/2/1989', 58476, 'd002', 'Finance'),
 (103, 45224, 's0001', '1/29/1962', 'Tomoyuki', 'Candan', 'M', '12/16/1994', 78631, 'd002', 'Finance'),
 (104, 211796, 's0001', '4/10/1959', 'Duangkaew', 'Socorro', 'M', '4/22/1985', 66146, 'd002', 'Finance'),
 (105, 204253, 's0001', '5/16/1959', 'Yinghua', 'Itschner', 'M', '10/6/1992', 71726, 'd002', 'Finance'),
 (106, 204253, 's0001', '5/16/1959', 'Yinghua', 'Itschner', 'M', '10/6/1992', 71726, 'd003', 'Human Resources'),
 (107, 476605, 's0001', '6/28/1959', 'Kazuhide', 'Pehl', 'F', '10/21/1992', 51838, 'd002', 'Finance'),
 (108, 429678, 's0001', '7/18/1959', 'Wojceich', 'Benveniste', 'F', '6/23/1986', 53226, 'd002', 'Finance'),
 (109, 107129, 's0001', '2/2/1956', 'Poorav', 'Kulisch', 'M', '11/13/1991', 41980, 'd002', 'Finance'),
 (110, 83075, 's0001', '5/7/1957', 'Pradeep', 'Unni', 'M', '9/24/1985', 73234, 'd002', 'Finance'),
 (111, 221249, 's0001', '3/16/1953', 'Godehard', 'Farrow', 'M', '3/23/1989', 52053, 'd002', 'Finance'),
 (112, 480195, 's0001', '6/7/1958', 'Zhiguo', 'Onuegbe', 'M', '9/26/1987', 66421, 'd002', 'Finance'),
 (113, 239128, 's0001', '1/28/1961', 'Bernice', 'Gulik', 'M', '5/31/1993', 75383, 'd002', 'Finance'),
 (114, 447074, 's0002', '2/22/1960', 'Chrisa', 'Krychniak', 'M', '10/6/1989', 89945, 'd002', 'Finance'),
 (115, 473730, 's0001', '9/21/1962', 'Shaowei', 'Sudbeck', 'M', '7/20/1988', 90441, 'd002', 'Finance'),
 (116, 98776, 's0001', '9/29/1959', 'Fay', 'Waymire', 'M', '6/17/1994', 40000, 'd002', 'Finance'),
 (117, 98776, 's0001', '9/29/1959', 'Fay', 'Waymire', 'M', '6/17/1994', 40000, 'd003', 'Human Resources'),
 (118, 470058, 's0001', '6/13/1960', 'Zine', 'Solovay', 'M', '3/8/1994', 52843, 'd002', 'Finance'),
 (119, 299112, 's0001', '1/17/1961', 'Arif', 'Angel', 'M', '10/20/1989', 47644, 'd002', 'Finance'),
 (120, 209992, 's0002', '3/16/1962', 'Steve', 'Tempesti', 'M', '6/3/1987', 61570, 'd002', 'Finance'),
 (121, 296143, 's0001', '4/13/1959', 'Subbu', 'Mamelak', 'M', '8/14/1994', 40000, 'd002', 'Finance'),
 (122, 96395, 's0001', '11/22/1962', 'Adas', 'Orsini', 'M', '3/23/1991', 50174, 'd002', 'Finance'),
 (123, 442969, 's0002', '11/27/1961', 'Yoshimitsu', 'Sgarro', 'M', '8/26/1986', 45677, 'd002', 'Finance'),
 (124, 50461, 's0001', '10/9/1956', 'Susuma', 'Wegerle', 'F', '12/7/1987', 40000, 'd002', 'Finance'),
 (125, 50461, 's0001', '10/9/1956', 'Susuma', 'Wegerle', 'F', '12/7/1987', 40000, 'd003', 'Human Resources'),
 (126, 105824, 's0002', '12/29/1959', 'Arnd', 'Rabejac', 'M', '5/5/1994', 43074, 'd002', 'Finance'),
 (127, 85216, 's0002', '1/18/1965', 'Ferdinand', 'Rosiles', 'F', '7/8/1997', 50873, 'd002', 'Finance'),
 (128, 39633, 's0002', '2/28/1953', 'Kirk', 'Vakili', 'M', '10/27/1994', 55391, 'd002', 'Finance'),
 (129, 84195, 's0001', '10/4/1963', 'Arnd', 'Dolinsky', 'M', '9/11/1988', 48777, 'd002', 'Finance'),
 (130, 252806, 's0001', '11/30/1964', 'Kensyu', 'Lambe', 'M', '3/26/1989', 76258, 'd002', 'Finance'),
 (131, 203452, 's0001', '7/9/1960', 'Gift', 'Birke', 'M', '3/18/1987', 56333, 'd002', 'Finance'),
 (132, 205433, 's0001', '2/5/1961', 'Aria', 'Miara', 'F', '11/27/1989', 90543, 'd002', 'Finance'),
 (133, 66013, 's0002', '8/29/1956', 'Takahito', 'Swen', 'M', '9/3/1994', 71938, 'd002', 'Finance'),
 (134, 254677, 's0001', '3/9/1952', 'Chaosheng', 'Candan', 'M', '3/28/1987', 82775, 'd002', 'Finance'),
 (135, 437114, 's0001', '4/3/1960', 'Haldun', 'Schapire', 'M', '7/11/1989', 66515, 'd002', 'Finance'),
 (136, 239715, 's0001', '12/3/1963', 'Cathie', 'Schaar', 'F', '2/23/1993', 78010, 'd002', 'Finance'),
 (137, 95636, 's0001', '3/18/1959', 'Srinidhi', 'Unno', 'M', '7/5/1988', 73700, 'd002', 'Finance'),
 (138, 211056, 's0002', '1/28/1957', 'Selwyn', 'Vasanthakumar', 'F', '3/13/1988', 40000, 'd002', 'Finance'),
 (139, 109998, 's0001', '9/21/1953', 'Mizuhito', 'Heping', 'M', '11/11/1986', 59220, 'd002', 'Finance'),
 (140, 284467, 's0001', '12/13/1962', 'Genta', 'Rosenbaum', 'M', '11/6/1992', 74724, 'd002', 'Finance'),
 (141, 13286, 's0001', '11/26/1958', 'Basem', 'Smailagic', 'M', '11/9/1986', 45858, 'd002', 'Finance'),
 (142, 205780, 's0002', '4/20/1959', 'Arup', 'Dolinsky', 'M', '4/28/1989', 76847, 'd002', 'Finance'),
 (143, 102978, 's0001', '8/6/1956', 'Tua', 'Eppinger', 'M', '7/11/1995', 87861, 'd002', 'Finance'),
 (144, 498028, 's0001', '12/1/1959', 'Adas', 'Aloisi', 'M', '8/9/1987', 76406, 'd002', 'Finance'),
 (145, 456356, 's0001', '12/7/1954', 'Tadanori', 'Bratten', 'M', '12/24/1994', 73871, 'd002', 'Finance'),
 (146, 263198, 's0002', '11/21/1953', 'Sampalli', 'Genther', 'M', '9/13/1985', 66043, 'd002', 'Finance'),
 (147, 403911, 's0001', '4/22/1958', 'Sachem', 'Crabtree', 'F', '6/4/1990', 56048, 'd002', 'Finance'),
 (148, 30617, 's0001', '3/18/1960', 'Mahmut', 'Yavatkar', 'M', '1/23/1991', 56811, 'd002', 'Finance'),
 (149, 470791, 's0001', '5/4/1961', 'Kaijung', 'Streng', 'M', '1/16/1987', 69036, 'd002', 'Finance'),
 (150, 272423, 's0001', '11/10/1964', 'Geoffrey', 'Chandrasekhar', 'F', '8/21/1991', 40000, 'd002', 'Finance'),
 (151, 413886, 's0002', '10/31/1959', 'Arto', 'Erol', 'M', '8/13/1995', 51724, 'd002', 'Finance'),
 (152, 414397, 's0001', '6/22/1961', 'Tonia', 'Jenevein', 'F', '9/25/1986', 71982, 'd002', 'Finance'),
 (153, 237701, 's0001', '6/22/1953', 'Yakkov', 'Harbusch', 'M', '4/18/1993', 52210, 'd002', 'Finance'),
 (154, 61045, 's0001', '3/25/1954', 'Bedir', 'Poujol', 'F', '6/23/1987', 55543, 'd002', 'Finance'),
 (155, 453261, 's0001', '10/26/1957', 'Mara', 'Ranta', 'F', '4/23/1990', 62264, 'd002', 'Finance'),
 (156, 476173, 's0001', '9/11/1964', 'Jenwei', 'Bondorf', 'M', '12/13/1991', 47656, 'd002', 'Finance'),
 (157, 457010, 's0001', '6/26/1954', 'Elzbieta', 'Anick', 'F', '10/31/1993', 50819, 'd002', 'Finance'),
 (158, 457010, 's0001', '6/26/1954', 'Elzbieta', 'Anick', 'F', '10/31/1993', 50819, 'd003', 'Human Resources'),
 (159, 298805, 's0002', '8/23/1964', 'Goo', 'Schlegelmilch', 'M', '12/19/1990', 67805, 'd002', 'Finance'),
 (160, 30041, 's0001', '7/9/1957', 'Arup', 'Kitai', 'F', '3/10/1985', 65952, 'd002', 'Finance'),
 (161, 41337, 's0001', '11/6/1962', 'Kiyokazu', 'Copas', 'F', '8/24/1986', 67920, 'd002', 'Finance'),
 (162, 424706, 's0001', '8/30/1961', 'Akemi', 'Bael', 'M', '2/28/1987', 55271, 'd002', 'Finance'),
 (163, 236679, 's0001', '8/28/1954', 'Rajmohan', 'Fontet', 'M', '10/7/1985', 78365, 'd002', 'Finance'),
 (164, 70834, 's0001', '7/13/1962', 'Masato', 'Heusch', 'M', '11/10/1990', 67974, 'd002', 'Finance'),
 (165, 105156, 's0001', '11/17/1953', 'Lalit', 'Ermel', 'M', '2/3/1993', 46593, 'd002', 'Finance'),
 (166, 105156, 's0001', '11/17/1953', 'Lalit', 'Ermel', 'M', '2/3/1993', 46593, 'd003', 'Human Resources'),
 (167, 23165, 's0001', '10/10/1963', 'Shih', 'Brookman', 'M', '11/2/1985', 75237, 'd002', 'Finance'),
 (168, 244831, 's0001', '2/15/1953', 'Abdelwaheb', 'Mitchem', 'M', '4/6/1994', 49335, 'd002', 'Finance'),
 (169, 244831, 's0001', '2/15/1953', 'Abdelwaheb', 'Mitchem', 'M', '4/6/1994', 49335, 'd003', 'Human Resources'),
 (170, 282942, 's0001', '7/7/1958', 'Mikhail', 'Basart', 'F', '10/21/1991', 68829, 'd002', 'Finance'),
 (171, 45280, 's0001', '11/19/1956', 'Nalini', 'Bardell', 'F', '9/14/1989', 95981, 'd002', 'Finance'),
 (172, 275178, 's0001', '11/22/1959', 'Maja', 'Oppitz', 'M', '11/5/1985', 50510, 'd002', 'Finance'),
 (173, 61132, 's0001', '6/24/1957', 'Maha', 'Strooper', 'F', '3/18/1994', 62563, 'd002', 'Finance'),
 (174, 89122, 's0001', '2/6/1960', 'Kersti', 'Babu', 'F', '2/22/1990', 58306, 'd002', 'Finance'),
 (175, 98739, 's0001', '4/23/1955', 'Hsiangchu', 'Tischendorf', 'M', '6/6/1989', 59650, 'd002', 'Finance'),
 (176, 226539, 's0001', '9/12/1962', 'Werner', 'Pelc', 'M', '6/10/1988', 50664, 'd002', 'Finance'),
 (177, 279242, 's0001', '4/4/1961', 'Arnould', 'Vidal', 'M', '12/4/1993', 66355, 'd002', 'Finance'),
 (178, 72940, 's0001', '2/11/1959', 'Pantung', 'Lamba', 'F', '12/18/1994', 62995, 'd002', 'Finance'),
 (179, 291536, 's0002', '12/29/1954', 'Chenyi', 'Binding', 'M', '7/14/1985', 45499, 'd002', 'Finance'),
 (180, 43604, 's0001', '1/2/1957', 'Reinhold', 'Esteva', 'F', '8/16/1987', 45643, 'd002', 'Finance'),
 (181, 42827, 's0001', '5/19/1954', 'Trygve', 'Perz', 'F', '9/20/1998', 61514, 'd002', 'Finance'),
 (182, 299554, 's0001', '11/12/1956', 'Wojceich', 'Oaver', 'M', '10/20/1988', 59419, 'd002', 'Finance'),
 (183, 421835, 's0002', '6/7/1962', 'Yinlin', 'Flowers', 'M', '9/5/1985', 110308, 'd002', 'Finance'),
 (184, 421835, 's0002', '6/7/1962', 'Yinlin', 'Flowers', 'M', '9/5/1985', 110308, 'd003', 'Human Resources'),
 (185, 57562, 's0001', '7/30/1959', 'Becky', 'Sidhu', 'M', '7/3/1985', 43479, 'd002', 'Finance'),
 (186, 23052, 's0001', '1/8/1954', 'Ayonca', 'Salinas', 'M', '7/1/1985', 68964, 'd002', 'Finance'),
 (187, 411492, 's0001', '11/9/1952', 'Seongbae', 'Wroclawski', 'M', '7/30/1987', 67803, 'd002', 'Finance'),
 (188, 32500, 's0001', '9/15/1963', 'Lucien', 'Yamaashi', 'F', '10/30/1987', 57718, 'd002', 'Finance'),
 (189, 477148, 's0001', '10/13/1962', 'Chiradeep', 'Merle', 'M', '3/6/1990', 77010, 'd002', 'Finance'),
 (190, 202998, 's0001', '11/15/1961', 'Giri', 'Basagni', 'M', '11/14/1986', 59746, 'd002', 'Finance'),
 (191, 202998, 's0001', '11/15/1961', 'Giri', 'Basagni', 'M', '11/14/1986', 59746, 'd007', 'Sales'),
 (192, 271142, 's0001', '12/11/1962', 'Janche', 'Schrooten', 'M', '7/2/1991', 87501, 'd002', 'Finance'),
 (193, 433348, 's0001', '6/16/1962', 'Petter', 'Bisiani', 'M', '2/3/1995', 40000, 'd002', 'Finance'),

In [ ]:
# Create classes with primary keys and foreign keys

class Department (Base):
    __tablename__ = 'departments'
    __table_args__ = {'extend_existing': True}
    dept_no = Column(String, primary_key = True)
    dept_name = Column(String)
    
class Title (Base):
    __tablename__ = 'titles'
    __table_args__ = {'extend_existing': True}
    title_id = Column(String, primary_key = True)
    title = Column(String)
    
class Employee(Base):
    __tablename__ = 'employees'
    __table_args__ = {'extend_existing': True}
    emp_no = Column(Integer, primary_key = True)
    emp_title_id = Column(String, ForeignKey('titles.title_id'))
    birth_date = Column(Date)
    first_name = Column(String)
    last_name = Column(String)
    sex = Column(String)
    hire_date = Column(Date)
    #title = relationship('Title', back_populates = 'employees')
    title_employees = relationship('Title', foreign_keys = 'Employee.emp_title_id')
#Title.employees = relationship('Employee', order_by = Employee.emp_title_id, back_populates = 'title')

class Dept_employee (Base):
    __tablename__ = 'dept_emp'
    __table_args__ = {'extend_existing': True}
    emp_no = Column(Integer, ForeignKey('employees.emp_no'),primary_key = True)
    dept_no = Column(Integer, ForeignKey('departments.dept_no'), primary_key = True)
    
    emp_no_deptemp = relationship('Employee', foreign_keys='Dept_employee.emp_no')
    dept_no_deptemp = relationship('Department', foreign_keys='Dept_employee.dept_no')
            
class Salary (Base):
    __tablename__ = 'salaries'
    __table_args__ = {'extend_existing': True}
    emp_no = Column(Integer, ForeignKey('employees.emp_no'),primary_key = True)
    salary = Column(Integer)
    
    emp_no_salary = relationship('Employee', foreign_keys='Salary.emp_no')

In [ ]:
# Create a connection to a SQLite database
engine = create_engine('sqlite:///Employee.db')
conn = engine.connect()

In [ ]:
Base.metadata.tables

In [ ]:
# To push the objects made and query the server we use a Session object
from sqlalchemy.orm import Session
session = Session(bind=engine)

In [ ]:
result = engine.execute('SELECT * FROM salaries')
print(result)

In [ ]:
pd.read_sql

In [ ]:
# To push the objects made and query the server we use a Session object
from sqlalchemy.orm import Session
session = Session(bind=engine)